<button>
    <a href="https://github.com/melo0511?tab=repositories">Git Hub</a>
</button>

<button>
SIGN UP
</button>



<style>
    button{
        width: 30%;
        height: 7rem;
        font-size: 20px;
        font-weight: bold;
        border-radius: 20px;
        border: 2px solid transparent;
    }

    button:hover{
        background: rgb(80, 79, 79);
        transition: all .3s;
        color: white;
        cursor: pointer;
        border: 2px solid white;
    }

    button:hover a{
        background: rgb(80, 79, 79);
        transition: all .3s;
        color: white;
        cursor: pointer;
        background-color: transparent;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        transition: all .3s;
        color: white;
    }
</style>