---
import Imagen from "./imagen.astro";
---

<div>
    <Imagen></Imagen>
</div>

<style>
    div{
        width: 80%;
        height: 90%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

</style>