<div>
    <p>
        JHONATAN MELO
    </p>
</div>

<style>

    div{
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p{
        font-size: 27px;
    }

</style>