<div>
    <h1>
        PROFESSIONAL SOFTWARE DEVELOPER
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit natus ab sapiente suscipit porro eveniet velit labore, nemo officiis quis illum voluptas facere recusandae? Adipisci quis fugit facere corrupti ipsum!</p>
</div>

<style>

    div{
        width: 85%;
        height: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    h1{
        font-size: 90px;
    }

    p{
        font-size: 25px;
    }
</style>