---
import Boton from "../UI/Boton.astro";
---

<section>
    <Boton></Boton>
</section>

<style>
    section{
        width: 100%;
        height: 25%;
        background: transparent;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
</style>