---
import Foto from "../UI/foto.astro";
---

<section>

    <div id="container_foto">
        <Foto></Foto>
    </div>
    
</section>

<style>

    #container_foto{
        width: 100%;
        height: 100%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    section{
        width: 50%;
        height: 100%;
        background-color: transparent;
        display: flex;
    }
    
</style>