---
import TextoIzquierda from "../UI/TextoIzquierda.astro";
import ContenedorBotones from "./ContenedorBotones.astro";
---

<section>
    <TextoIzquierda></TextoIzquierda>
    <ContenedorBotones></ContenedorBotones>
</section>

<style>

    section{
        width: 50%;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

</style>