---
import InfoIzquierda from "./InfoIzquierda.astro";
import InfoDerecha from "./InfoDerecha.astro";
---

<section>

    <InfoIzquierda></InfoIzquierda>
    <InfoDerecha></InfoDerecha>

</section>

<style>

    section{
        width: 100%;
        height: 96%;
        background: transparent;
        display: flex;
        flex-direction: row;
        color: white;
    }

</style>